:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding-left: 20px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.principal {
    display: flex;
    /* Para que ocupe el 100% de la altura de la ventana */
    height: 100vh; 
}

.navegacion {
    width: 200px; /* Ancho fijo para la barra */
    background-color: #f0f0f0;
    padding: 15px;
    padding-top: 70px;
}

.contenido {
    flex-grow: 1; /* Ocupa todo el espacio restante */
    padding: 20px;
}


.file-list {
font-family : Helvetica, sans-serif;
width : 100%;
max-width : 980px;
color : #333;
margin : 0 auto;
border : 1px solid #ccc;
border-collapse : collapse;
}

.file-list td {
border-top : 1px solid #ccc;
}

.file-name {
padding : 4px;
max-width : 220px;
}
.file-icon {
width : 17px;
padding-left : 4px;
color: #333;
}

.file-icon .fa-folder {
color : #508FCA;
}
.file-date {
  padding : 4px;
  max-width : 200px;
}
.file-size {
  padding : 4px;
  max-width : 100px;
  text-align: right;
}