.contenedor {
  display: flex;
  height: 100vh;
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
}

.columna {
  flex: 1;
  display:flex;
  flex-direction: column;
  gap: 12px;
  background-color: beige;
  padding: 12px;
  border-radius: 8px;
  overflow-y: auto;
}

.item {
  display: flex;
  align-items: center ;
  gap: 8px;
  padding: 8px;
  border-radius: 6px;
  background-color: bisque;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}
.item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
}

.item button {
  margin: auto 0 auto auto;
  background-color: antiquewhite;
}